/* Variáveis */
:root {
    --black-color: #2c2c2d;
    --white-color: #fff;
    --grey-color-300: #e0e0e0;
    --grey-color-500: #a5a5a5;
    --grey-color-700: #777;
    --primary-color: #4c6daf;

    --padding-sm: 1rem;
    --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    --border-radius: .5rem;
} 

/* Padronização de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: 4rem 1fr 3rem;
    grid-template-areas: 
    "header header"
    "sidebar main-content"
    "sidebar footer";
}

header {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.6rem;
    padding: var(--padding-sm);
    grid-area: header;
}

.sidebar {
    background-color: var(--black-color);
    /* padding: 1rem 0; */
    grid-area: sidebar;
}

.sidebar ul {
    list-style: none;
}

.sidebar a{
    color: var(--grey-color-300);
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #666;
}

.content {
    background-color: var(--grey-color-300);
    padding: var(--padding-sm);
    grid-area: main-content;
    display: grid;
    align-content: start;
    gap: 2rem;
}

.stats-section {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    align-items: start;
    justify-items: start;
    gap: 2rem;
}

.card,
.chart-section,
.table-section {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--padding-sm);
}

.card {
    text-align: center;
}

.card h3 {
    color: var(--primary-color);
    margin-bottom: .5rem;
}

.card p {
    font-size: 1.25rem;
    font-weight: 700;
}

.chart-section h2,
.table-section h2{
    margin-bottom: var(--padding-sm);
}

.charts {
    display: grid;
    grid-template-areas: 
    "chart1 chart2 chart3"
    "chart4 chart4 chart4";
    height: 20rem;
    gap: 1rem;
}

.chart-placeholder {
    background-color: var(--grey-color-500);
    color: var(--black-color);
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: var(--border-radius);
}

#chart1 {
    grid-area: chart1;
}

#chart2 {
    grid-area: chart2;
}

#chart3 {
    grid-area: chart3;
}

#chart4 {
    grid-area: chart4;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
  border-bottom: 1px solid var(--grey-color-300);
  padding: var(--padding-sm);
}

table th {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: left;
}

footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: grid;
    align-items: center;
    justify-items: center;
    grid-area: footer;
}