body {
    background-color: #2c2c2d;
    color: #fff;
    font-family: sans-serif;
  }
  
  .flex-container {
    display: flex;
  }
  
  .flex-item {
    width: 10rem;
    /* flex-grow flex-shrink flex-basis */
  }
  
  .box.red {
    /* Valor padrão */
    flex-grow: 0;
  }
  
  .box.yellow {
    flex-grow: 0;
  }
  
  .box.blue {
    flex-grow: 0;
  }
  
  /* Estilos auxiliares */
  
  .box {
    background-color: #4547c7;
    border: 2px solid #272727;
  }
  
  .box.red {
    background-color: #ff665c;
  }
  
  .box.yellow {
    background-color: #f9ff58;
    height: 5rem;
  }
  
  .box.blue {
    background-color: #5255eb;
    height: 3rem;
  }